<!--
Purpose: overwrite the togglereadonly command to warn for resource file
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="item:togglereadonly">
				<patch:attribute name="type">IsResource.Commands.ToggleReadOnly, IsResource</patch:attribute>
			</command>
		</commands>
	</sitecore>
</configuration>