<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: With this module you get a content editor warning if the item is comming from a resource file.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<getContentEditorWarnings>
				<processor type="IsResource.Pipelines.IsResource, IsResource" patch:before="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.ItemNotFound, Sitecore.Kernel']" />
			</getContentEditorWarnings>
		</pipelines>
	</sitecore>
</configuration>