<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: With this module you get a warning when save a item in the content editore if the item is comming from a resource file.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<saveUI>
				<processor mode="on" type="IsResource.Pipelines.ResourceCheck, IsResource" patch:before="processor[@type='Sitecore.Pipelines.Save.CheckItemLock, Sitecore.Kernel']" />
			</saveUI>
		</processors>
	</sitecore>
</configuration>
